<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome Admin</h1>
    <br>
    <h3><a href="{% url 'e_admin:approve_sellers' %}">Approve Sellers</a></h3>
    <h3><a href="{% url 'e_admin:view_sellers' %}">View Sellers</a></h3>
    <h3><a href="{% url 'e_admin:view_customers' %}">View Customers</a></h3>
    <h3><a href="{% url 'e_admin:change_password' %}">Change Password</a></h3>
</body>
</html>